* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 50px;
}

#gameContainer {
    width: 100%;
}

#choiceContainer {
    display: flex;
    flex-direction:row;
    text-align: center;
    margin: 100px auto;
}

#rock {
    width: 30%;
  }
  
#paper {
    width: 30%;
  }

#scissors {
    width: 30%;
  }

#resultContainer {
    width: 100%;
    text-align: center;
}

i {
    font-size: 75px;
}

i:hover {
    cursor: pointer;
}

#playAgainContainer {
    width: 100%;
    text-align: center;
}

#reloadButton {
    margin: 50px;
    padding: 25px;
    background-color: rgb(0,128,0);
    cursor: pointer;
    border: none;
    border-radius: 25px;
}

#reloadButton:hover {
    background-color: rgb(0,128,0, 0.5);
}

#reloadButton:active {
    transform: translateY(2px);
  }