* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 50px;
}

#choiceContainer {
    width: 100%;
    margin: auto;
}

#rock {
    width: 30%;
    float: left;
    padding-right: 10px;
  }
  
#paper {
    width: 30%;
    float: left;
    padding-right: 10px;
  }

#scissors {
    width: 30%;
    float: left;
  }

#resultContainer {
    margin: auto;
}

i {
    width: 100px;
}

#playAgainContainer {
    margin: auto;
    display:flex;
}